body{
    background-color: lightskyblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    position: relative;
    padding: 12px 12px 12px 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    transition: all 0.2s ease-in-out;
  }
  
  li:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 50%;
  }
  
  li.completed:before {
    content: "✓";
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #4CAF50;
    color: white;
  }
  
  li:hover {
    transform: translateX(5px);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  input {
    padding: 8px;
    margin-right: 10px;
    width: 300px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  